header {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #eeeeee;
}

header #searchbox {
    text-align: right;
}

main {
    margin-top: 1%;
    margin-bototm: 1%;
}

main #refinement-list {
    margin-top: 10%;
}

main .ais-sort-by-selector .ais-body {
    text-align: right;
}

main .ais-hits--item {
    display: inline-block;
    width: 24%;
    margin: .5%;
}

main .hit .hit-info-container {
    margin-top: 1%;
}

main .hit .hit-name {
    font-weight: 700;
    color: #000;
    font-size: .9em;
    margin: 0 0 8px;
    min-width: 120px;
    min-height: 35px;
}

main .hit .hit-category {
    font-size: .8em;
    margin: 0 0 10px;
    color: #a2a2a2;
}

footer {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #eeeeee;
}

@media screen and (max-width: 960px) {
    main .ais-hits--item {
        width: 49%;
    }
}

@media screen and (max-width: 800px) {
    main .ais-hits--item {
        width: 99%;
    }
}

@media screen and (max-width: 575px) {
    main #refinement-list {
        display: none;
    }
}